
.navbar{
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.navbar-logo{
    margin-top: 2rem;
    margin-left: 2rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
}
.navbar-links{
    display: flex;
    justify-content: space-around;
}
.navbar-link{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}